p {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #E5E7EB;
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.header-title {
    font-size: 32px;
    color: white;
    margin: 0;
    padding: 0;
}

.header-links {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #E5E7EB;

}
div.header-links > a { /*Not working*/
    color: #E5E7EB;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.section1 {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}

.text {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.section1-title {
    font-size: 48px;
    color: #F9FAF8;
}

.section2 {
    background-color: white;
    color: #1F2937;
    padding: 32px;
    padding-top: 0;
}

.title {
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    margin: 16px 0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

div.card > img, .card{
    max-width: 200px;
    display: block;
    margin: auto;  
}

.card {
    max-width: 280px;
    text-align: center;
}

.full-quote {
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.quote {
    text-align: center;
    font-size: 24px;
}

.author {
    text-align: end;
}

.ad-container{
    background-color: white;
}

.ad {
    background-color: #3882F6;
    margin: 80px 200px;
    padding: 30px 90px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.ad-title {
    font-size: 20px;
    font-weight: 600;
}

.ad-button {
    padding: 8px;
    background-color: #3882F6;
    border: 2px solid white;
    color: white;
}

.footer {
    text-align: center;
    margin: 24px;
}






